<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.myplas.q">
    <!--友盟-->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--其他权限-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name="com.myplas.q.guide.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".guide.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlankTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--微信回调-->
        <activity
            android:name="com.myplas.q.wxapi.WXEntryActivity"
            android:exported="true"></activity>
        <activity
            android:name="com.myplas.q.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <!--activity注册-->
        <activity
            android:name="com.myplas.q.guide.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="com.myplas.q.guide.activity.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlankTheme"></activity>
        <activity
            android:name="com.myplas.q.supdem.activity.SupDem_Detail_Activity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.myplas.q.myinfo.fans.activity.MyFansFollowActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.release.activity.ReleaseActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.release.activity.ReleaseSupDemActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.headlines.activity.HeadLinesDetailActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.headlines.activity.MySelfActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.MyDataActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.supdem.activity.MySupDemActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.fans.activity.MyIntroductionActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.login.RegesterActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.FindPSWActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.HelpActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.integral.activity.IntegralActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.integral.activity.IntegralPayActivtity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.integral.activity.IntegralDetialActivtity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.integral.activity.IntegralRuleActivtity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.integral.activity.IntegralRecordActivtity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.message.activity.MessageCommonActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.fans.activity.PersonInfoActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".guide.activity.BigImageViewActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppBlankTheme"></activity>
        <activity
            android:name="com.myplas.q.myinfo.fans.activity.LookPersonInfoActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.credit.activity.LineOfCreditActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.credit.activity.PlasticMoneyActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.headlines.activity.CreditActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.headlines.activity.Cate_Dialog_Activtiy"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_animation"></activity>
        <activity
            android:name="com.myplas.q.guide.activity.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_animation"></activity>
        <activity
            android:name="com.myplas.q.myinfo.credit.activity.Ed_Call_Dialog_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_animation"></activity>
        <activity
            android:name="com.myplas.q.addresslist.activity.AD_DialogActivtiy"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_animation"></activity>
        <activity
            android:name="com.myplas.q.addresslist.activity.Cover_WebActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.login.RegesterXYActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.supdem.activity.SupDem_Search_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.supdem.activity.Physical_Property_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.supdem.activity.Physical_Detail_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.supdem.activity.SupDem_QQ_DetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.fans.activity.LookMeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.invoices.activity.TradeOrderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.invoices.activity.InvoicesDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.invoices.activity.ApplyInvoicesActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.AboutPlasticActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.DataCommonActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.TakePhotoDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_animation"></activity>
        <activity
            android:name="com.myplas.q.myinfo.setting.activity.MessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.message.activity.MessageListsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.myplas.q.myinfo.integral.activity.IntegralDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/my_theme_animation"></activity>

        <!--适配6.0以上的系统安装apk-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.myplas.q.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5812f06645297d72eb002c04"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wandoujia"/>
    </application>
</manifest>